// Nextflow configuration for scanpy single-cell RNA-seq pipeline

manifest {
    name = 'scanpy-scrna-pipeline'
    author = 'Xiaobin Zheng'
    description = 'Single-cell RNA-seq analysis pipeline using scanpy'
    version = '1.0.0'
    nextflowVersion = '>=23.04.0'
}

params {
    // Input data
    input = null  // Path to 10X directory containing matrix.mtx, genes.tsv, barcodes.tsv
    outdir = './results'
    
    // QC parameters
    min_genes = 200
    min_cells = 3
    max_genes = 2500
    max_mt_percent = 5
    
    // Analysis parameters
    n_top_genes = 2000
    n_pcs = 50
    n_neighbors = 10
    n_pcs_umap = 40
    leiden_resolution = 1.0
    
    // Cell type annotation (optional)
    annotate_celltypes = true
    
    // Resource parameters
    max_cpus = 4
    max_memory = '16.GB'
    max_time = '4.h'
    
    // Container
    container = 'docker://python:3.12'
}

process {
    // Default resources
    cpus = 2
    memory = '8.GB'
    time = '2.h'
    
    errorStrategy = 'retry'
    maxRetries = 2
    
    withName: LOAD_AND_QC {
        cpus = 2
        memory = '8.GB'
    }
    
    withName: NORMALIZE_AND_HVG {
        cpus = 2
        memory = '8.GB'
    }
    
    withName: DIMENSIONALITY_REDUCTION {
        cpus = 4
        memory = '12.GB'
    }
    
    withName: CLUSTERING {
        cpus = 4
        memory = '12.GB'
    }
    
    withName: MARKER_GENES {
        cpus = 4
        memory = '12.GB'
    }
    
    withName: ANNOTATE_CELL_TYPES {
        cpus = 2
        memory = '8.GB'
    }
    
    withName: VISUALIZATION {
        cpus = 2
        memory = '8.GB'
    }
}

// Execution reports
timeline {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_timeline.html"
}

report {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_report.html"
}

trace {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_trace.txt"
}

dag {
    enabled = true
    file = "${params.outdir}/pipeline_info/pipeline_dag.svg"
}

// Execution profiles
profiles {
    // Standard profile - uses local Python environment
    standard {
        process.executor = 'local'
        docker.enabled = false
        conda.enabled = false
    }
    
    // Docker profile - uses containerized environment
    docker {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'
        process.container = 'scanpy-pipeline:1.0.0'
        docker.temp = 'auto'
    }
    
    // Conda profile - uses conda environment
    conda {
        conda.enabled = true
        process.conda = "${projectDir}/conda/environment.yml"
        conda.cacheDir = "${HOME}/.nextflow/conda"
    }
    
    // Singularity profile - uses singularity containers
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
        process.container = 'docker://scanpy-pipeline:1.0.0'
        singularity.cacheDir = "${HOME}/.nextflow/singularity"
    }
    
    // SLURM cluster with conda
    slurm_conda {
        process.executor = 'slurm'
        process.queue = 'normal'
        conda.enabled = true
        process.conda = "${projectDir}/conda/environment.yml"
    }
    
    // SLURM cluster with singularity
    slurm_singularity {
        process.executor = 'slurm'
        process.queue = 'normal'
        singularity.enabled = true
        singularity.autoMounts = true
        process.container = 'docker://scanpy-pipeline:1.0.0'
    }
}
